
.vs/Agency_website/config/applicationhost.config
.vs/Agency_website/FileContentIndex/2f01b515-07b1-414c-97c7-f9b5e3ee4b10.vsidx
.vs/Agency_website/v17/.wsuo
.vs/Agency_website/v17/DocumentLayout.json
.vs/DotNet Framework/config/applicationhost.config
.vs/DotNet Framework.csproj.dtbcache.json
.vs/DotNet Framework/FileContentIndex/9349d743-805f-40b7-9923-df5716048951.vsidx
.vs/DotNet Framework/FileContentIndex/d31b7fc8-150e-4b1a-9535-f2f801691408.vsidx
.vs/DotNet Framework/v17/.suo
.vs/DotNet Framework/v17/.wsuo
.vs/DotNet Framework/v17/DocumentLayout.json
.vs/slnx.sqlite
bin/DotNet Framework.dll
bin/DotNet Framework.pdb
bin/DotNet Framework.dll
bin/DotNet Framework.pdb
.vs/Agency_website/FileContentIndex/2ac801df-071a-4f2e-8dbc-09e477e4f083.vsidx
.vs/Agency_website/FileContentIndex/95616c92-98dc-4c63-a2f4-66faed93fe65.vsidx
.vs/Agency_website/v17/workspaceFileList.bin
.vs/DotNet Framework/FileContentIndex/4e0616a3-2c2d-4688-9c04-84f36715fc25.vsidx
.vs/DotNet Framework/FileContentIndex/b6e2e6cf-08dd-47cf-94d3-4aa3719018d4.vsidx
.vs/DotNet Framework/FileContentIndex/b6f0f985-bd40-4d26-94c9-29fd5ac6e8af.vsidx
.vs/DotNet Framework/FileContentIndex/d15cd547-ccc5-496d-b212-b8da01323aad.vsidx
.vs/VSWorkspaceState.json
