
.vs/Agency_website/config/applicationhost.config
.vs/Agency_website/FileContentIndex/2f01b515-07b1-414c-97c7-f9b5e3ee4b10.vsidx
.vs/Agency_website/v17/.wsuo
.vs/Agency_website/v17/DocumentLayout.json
.vs/DotNet Framework/config/applicationhost.config
.vs/DotNet Framework.csproj.dtbcache.json
.vs/DotNet Framework/FileContentIndex/9349d743-805f-40b7-9923-df5716048951.vsidx
.vs/DotNet Framework/FileContentIndex/d31b7fc8-150e-4b1a-9535-f2f801691408.vsidx
.vs/DotNet Framework/v17/.suo
.vs/DotNet Framework/v17/.wsuo
.vs/DotNet Framework/v17/DocumentLayout.json
.vs/slnx.sqlite
bin/DotNet Framework.dll
bin/DotNet Framework.pdb
